@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  padding: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__logo {
  flex: 0 0 100px;
  z-index: 3;
  font-size: 30px;
  line-height: 40px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(130, 141, 26);
  text-shadow: 2px 2px 3px rgba(8, 53, 4, 0.952), 0 0 1em rgba(158, 74, 36, 0.959);
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin-left: 20px;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}
.header .text-end {
  font-size: 16px;
  color: white;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(200, 210, 236);
  z-index: 2;
}

@media (max-width: 1050px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 80px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(56, 52, 46);
    padding: 100px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-bottom: 20px;
  }
}
@media (max-width: 1050px) {
  .content-container {
    padding: 100px 5px 5px 5px;
  }
  .demolition {
    flex-direction: column;
  }
  .demolition__text {
    padding: 5px;
  }
  .demolition img {
    min-width: 100%;
    max-height: 400px;
  }
  .mow {
    flex-direction: column-reverse;
  }
  .mow img {
    width: 100%;
    max-height: 400px;
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.content .content-container {
  padding: 120px 5px 5px 5px;
}
.content .demolition {
  display: flex;
}
.content .demolition__text {
  padding: 20px;
  flex: 1 1 auto;
}
.content .demolition img {
  flex: 1 1 auto;
  min-width: 50%;
  max-height: 400px;
}
.content .mow {
  display: flex;
}
.content .mow__text {
  padding: 20px;
}
.content .mow img {
  max-width: 30%;
}
.content .container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 20px 0px;
}
.content .d-block {
  max-height: 600px;
  max-width: 1000px;
}
.content .kontainer-carousel {
  justify-content: center;
}

.footer {
  font-size: 15px;
  color: #989898;
}
.footer .footer-conteiner {
  display: flex;
  flex-direction: column;
}
.footer .footer-content {
  flex: 1 1 300px;
  background: rgb(53, 41, 41);
  display: flex;
}
.footer .footer-content__contact {
  margin: 50px 0px 0px 150px;
}
.footer .footer-content__nav-menu {
  margin: 50px 0px 0px 150px;
}
.footer .footer-content h2 {
  font-size: 150%;
  color: white;
  font-weight: 700;
}
.footer .footer-content .contact-container {
  margin: 30px 0px 20px 0px;
  display: inline-flex;
  flex-direction: column;
}
.footer .footer-content .contact-container p {
  display: block;
}
.footer .footer-content li {
  height: 30px;
}
.footer .footer-content li :hover {
  border-bottom: 1px solid #989898;
}
.footer .footer-content ul {
  padding-left: 0px;
}
.footer .footer-container-text {
  background-color: rgb(14, 14, 14);
  flex: 0 0 60px;
}
.footer .footer-content-text {
  font-size: 20px;
  line-height: 20px;
  max-width: 50%;
}
.footer a {
  color: #989898;
}
.footer p:not(:last-child) {
  height: 30px;
  border-bottom: 1px solid #989898;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 1050px) {
  .footer-content {
    flex-direction: column;
  }
}